@model Application.ViewModel.CreateTextFileModelViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateTextFileModelViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AclModelId" class="control-label"></label>
                <input asp-for="AclModelId" class="form-control" />
                <span asp-validation-for="AclModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedOn" class="control-label"></label>
                <input asp-for="UploadedOn" class="form-control" />
                <span asp-validation-for="UploadedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastEditedBy" class="control-label"></label>
                <input asp-for="LastEditedBy" class="form-control" />
                <span asp-validation-for="LastEditedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated" class="form-control" />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
